/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  font-size: 11px;
  background-color: #6b078a14;
  margin: 50px;
  text-align: center;
  transition: background-color 0.5s ease-in-out;
}

/* Animación de color para el título */
@keyframes color-change {
  0% { color: blue; }
  50% { color: red; }
  100% { color: blue; }
}

h1 {
  font-size: 24px;
  font-family: Georgia, serif;
  animation: color-change 3s infinite;
  transition: transform 0.3s ease-in-out;
}

/* Efecto hover para mejorar la UX */
h1:hover {
  animation: color-change 3s infinite;
  transform: scale(1.1);
}

/* Animación para otros elementos */
p {
  opacity: 0;
  animation: fade-in 2s ease-in forwards;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
